$color-green:#01aa4d;
$color-blue:#118eff;
.bar{height:10px;background:$color-green;}
#header{
    position: relative;
    z-index: 1;
    padding-bottom:20px;
    box-shadow: 1px 1px 5px rgba(0,0,0, .3);       
    .headerGroup{
        .searchGroup{            
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding:25px 0;
            h1{
                width:250px;
                font-size:26px;
                a{
                    color:#002AFF;
                    text-transform: uppercase;
                }
            }
            .searchBox{
                position:relative;
                display:inline-block;
                border:1px solid $color-green;
                border-radius:10px;
                padding:10px 50px 10px 15px;        
                input{
                    width:400px;
                    font-size:16px;
                    border:0;
                    outline: 0;
                }
                button{
                    cursor: pointer;
                    color:transparent;
                    position: absolute;
                    top:3px;
                    right:10px;
                    width: 30px;
                    height: 30px;
                    border:0;
                    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZmlsbD0ibm9uZSIgZD0iTTAgMGgzNnYzNkgweiIvPgogICAgICAgIDxnIHN0cm9rZT0iIzVGMDA4MCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2Utd2lkdGg9IjEuNyI+CiAgICAgICAgICAgIDxwYXRoIGQ9Im0yNi4wODEgMjYuMDgxLTQuMTItNC4xMk0xNi40NjcgMjMuMzM0YTYuODY3IDYuODY3IDAgMSAwIDAtMTMuNzM0IDYuODY3IDYuODY3IDAgMCAwIDAgMTMuNzM0eiIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg==) 0px 0px no-repeat;
                }
            }
            .util{
                width:250px;
                display: flex;
                justify-content: flex-end;
                gap:10px;
                span{
                    position: relative;
                    display: inline-block;        
                    color:transparent;
                    margin-left:10px;
                    cursor:pointer;
                    &:nth-child(1){
                        background-image: url(https://pm.pstatic.net/resources/asset/sp_main.6519c842.png);
                        background-size: 435px 414px;
                        background-position: -190px -329px;
                        background-repeat: no-repeat;
                        width: 26px;
                        height: 26px;
                    }
                    &:nth-child(2){
                        background-image: url(https://pm.pstatic.net/resources/asset/sp_main.6519c842.png);
                        background-size: 435px 414px;
                        background-position: -136px -329px;
                        background-repeat: no-repeat;
                        width: 26px;
                        height: 26px;
                    }
                }
            }
        }
        nav{
            display: flex;
            justify-content: space-between;
            align-items: center;
            .btn-category{
                width:100px;
                font-size: 16px;
                font-weight:bold;
                cursor:pointer;
                &:before{
                    content:'';
                    vertical-align: -1px;
                    display:inline-block;
                    width: 16px;
                    height: 14px;
                    margin-right: 14px;
                    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNiAxNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0wIDBoMTZ2MS43SDBWMHptMCA2LjE1aDE2djEuN0gwdi0xLjd6bTAgNi4xNWgxNlYxNEgwdi0xLjd6IiBmaWxsPSIjMzMzIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz4KPC9zdmc+Cg==) 0px 0px / 16px 14px no-repeat;
                }
            }
            ul{
                // &:after{content:'';display:block;clear:both;}
                display:flex;
                li{
                    width:100px;
                    text-align: center;
                    // &+li{margin-left:20px;}
                    // &:last-child{
                    //     a{padding-right:0;}
                    // }
                    a{
                        color:#333;font-size:16px;
                        border-bottom:2px solid transparent;
                        font-weight:bold;
                        &:hover{
                            color:$color-blue;
                        }
                    }
                }
            }
        }    
    }    
}
.mainSwiper{
    border-bottom:1px solid #ddd;
    overflow: hidden;
    .swiper{
        // overflow:unset;
        width:976px;
        margin:0 auto;
        .swiper-wrapper{
            .swiper-slide{
                img{
                    vertical-align: top;
                }
            }
        }
    }
    .swiper-button-prev,
    .swiper-button-next{
        transform: scale(1.3);
        color:#fff;
        text-shadow: 1px 1px 5px #999;
    }
    .swiper-button-prev{left:50%;margin-left: -470px;}
    .swiper-button-next{right:50%;margin-right: -470px;}
}
footer{
    background:#333;
    padding:25px 0 50px 0;
    font-size:12px;color:#fff;
    line-height: 18px; 
} 

.loader {
    position:fixed;
    top:0;left:0;right:0;bottom:0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size:22px;
}
.loader:after{content:'Loading...';margin-left:20px;}
.loader:before {
    content: " ";
    display: block;
    width: 30px;
    height: 30px;
    margin: 1px;
    border-radius: 50%;
    border: 5px solid #807d7d;
    border-color: #807d7d transparent #807d7d transparent;
    animation: loader 1.2s linear infinite;
}

@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}