#contents{
    margin:0 auto; 
    min-width:1050px;
    min-height: 800px;
    padding-bottom:50px;
    position: relative;
    z-index: 0;
    .banner{
        height:120px;
        font-size:0;
        & + .banner{margin-top:10px;}
        &.bn1{
            background: url(https://product-image.kurly.com/banner/main/pc/img/38707a8d-4029-4ca1-ac03-7b094d0b56fd.jpg) no-repeat 0 40%;
            background-size:100% auto;
        }
        &.bn2{
            background: url(https://product-image.kurly.com/banner/main/pc/img/455b1459-41ac-4394-b2dc-bd6b329d2db7.jpg) no-repeat 0 50%;
            background-size:100% auto;
        }        
    }

    .container{
        display: flex;
        justify-content: center;
        gap:110px;
        #swiperId{
            width:360px;
            height:630px;
            margin:0 !important;
            .swiper-pagination-bullet{
                &.swiper-pagination-bullet-active{
                    background:#01aa4d;
                }
            }            
        }
    }
}
.product_top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;    
    
    ul{
        width:600px;
        li{
            color:#333;
            font-size:24px;
            font-weight:bold;
            &.type{
                display: flex;
                justify-content: space-between;
                font-size:16px;
                color:#7d7e80;
                font-weight:normal;
                padding-bottom:6px;
                border-bottom:1px solid #ccc;;
            }
            &.title{
                line-height:34px;
                font-size:26px;
                margin:25px 0;            
            }
            &.dimmedPrice{
                margin-bottom:15px;
                color: rgb(181, 181, 181);    
                font-size:20px;
                em{margin-right:5px;color:rgb(250, 98, 47);}
                i{
                    text-decoration: line-through;
                    font-weight:normal
                }
            }
            &.price{                
                font-size:30px;
            }
        }
    }
    table{
        margin-top:50px;
        width:100%;
        border-top: 1px solid #f0f2f5;
        th,td{
            border-bottom: 1px solid #f0f2f5;
            font-size:16px
        }
        th{
            font-weight:bold;width:120px;text-align:left;
        }
        td{
            padding:20px 0;line-height: 28px;
            
        }
    }
}
.itemProduct{
    display: block;
    overflow: hidden;
    .thumb-tag{
        overflow: hidden;
        width:360px;
        height:468px;
        img{
            width:100%;
            vertical-align: top;
        }
    }
    .title-tag{
        margin:10px 0;
        line-height:22px;
        color:#333;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }
    .dimmedPrice-tag{
        margin-top:15px;
        color: rgb(181, 181, 181);
        text-decoration: line-through;
    }
    .price-tag{
        margin-top:8px;
        font-weight:bold;
        color:#333;
        em{
            margin-right:5px;
            font-style:normal;
            color:rgb(250, 98, 47)
        }
    }
    a{color:#333}
}
.listA{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    li{
        flex:1 1 20%;
        padding-bottom:50px;        
        max-width:255px;
        .thumb-tag{
            width:255px;      
            height:331.5px;
            img{
                transition:transform .3s;
            }
            &:hover{
                img{transform: scale(1.03);}
            }
        }
    }
}

.react-loading-skeleton{
    height:100%;
}